body {
  font-family: 'FiraSans';
  font-size:1.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:'FiraSans';
  font-weight: 700; 
  font-style: italic;
}

p{
  line-height: 1.6;
  margin:0 0 35px;
}


a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}
a {
  color: rgb(211, 48, 48);
}
a:hover,
a:focus,
a:active,
a.active {
  color: #fff;
}

/* Nav Bar Custom */
.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-family: "FiraSans";
  background-color: black;
  padding-top: 1rem;
}
.navbar-custom .navbar-toggle {
  color: black;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 12px;
}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
  outline: none;
}
.navbar-custom .navbar-brand {
  font-weight: 500;
}
.navbar-custom .navbar-brand:focus {
  outline: none;
}

.navbar-custom a {
  color: rgba(255, 255, 255, 0.8);
}

.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:hover {
  color: white;
  outline: none;
  background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: none;
  background-color: transparent;
}

.navbar-custom .nav li.active {
  outline: none;
}

.navbar-custom .nav li.active a {
  background-color: white;
}
.navbar-custom .nav li.active a:hover {
  color: white;
}
@media (min-width: 768px) {
  .navbar-custom {
    /*padding: 20px 0;*/
    color: aliceblue;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-custom.top-nav-collapse {
    padding: 10x;
    background: black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

  }
}


header {
  background-image: url(../img/cinema.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
}
header .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
}
header .intro-text .intro-lead-in {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
}
header .intro-text .intro-heading {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 25px;
}

@media (min-width: 768px) {
  header .intro-text {
    padding-top: 350px;
    padding-bottom: 200px;
  }
  header .intro-text .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
  }
  header .intro-text .intro-heading {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px;
  }
}



/* .navbar-bran:hover {
    color: white;
  }

  .navbar-bran {
    font-size:2.25rem;
  } */
.welcome {
    margin-top: -130px;
    font-size: 4.5rem;
    font-weight: 800;
  }
  
  .content-section {
    padding: 90px 0;
    margin-top: 0rem;
  }

  .content-section-become {
    padding: 30px 0;
    margin-top: 10px;
  }

  .new{
      color: rgb(10, 10, 10);
      font-weight: 900;
  }

  .total {
    position: relative;
    background-color: #343a40;
    background: url("../img/media.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem; 
  }

.total1 {
  position: relative;
  background-color: #0d0d0e;
  /* background: url("../img/.jpg") no-repeat center center;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem; 
}

.na {
  float: right;
}

.modal-header {
    color:red;
    opacity: 0.3;
}

.modal-body {
    opacity: 0.4;
}

.nb{
  
  border-radius: 20px;
  border-color: darkred;
  color: darkred;
}

.insight {
    position: relative;
    background-color: #cc9f0b4b;
    height: 30%;
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 4rem; 
}

.insight1 {
    position: relative;
    background-color: #cc9f0bab;
    height: 30%;
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 2rem; 
}

.insight2{
    position: relative;
    background-color: #cc9f0b5b;
    height: 30%;
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 2rem; 
}

.rule{
  padding-bottom: 2.0rem;
}

.rul {
  margin-top: 0rem;
  margin-bottom: 4rem;
  border: 0;
  border-top: 3px solid rgba(211, 2, 2, 0.1);
  width: 175px;
}

.man{
    padding-top: 13rem;
}

.imag{
  height: 80%;
  width: 100%;
}

/*Section resposible for text transformation /fading*/
div.exp {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
}

div.exp:first-of-type {    /* For increasing performance 
                       ID/Class should've been used. 
                       For a small demo 
                       it's okaish for now */
  animation: showup 7s infinite;
}

p div.exp:last-of-type {
  width:0px;
  animation: reveal 7s infinite;
}

div.exp:last-of-type {
  margin-left:-355px;
  animation: slidein 7s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-500px; }
    20% { margin-left:-500px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}

@font-face {
  font-family: 'FiraSans';
  src: url('fontawesome/FiraSans.eot'); 
  src:url('fontawesome/FiraSans.otf') ;
  src:url('fontawesome/FiraSans.ttf') ; 

  /* font-family: 'Lato';
  src: url('fontawesome/Lato.eot'); 
  src:url('fontawesome/Lato.otf') ;
  src:url('fontawesome/Lato.ttf') ; 

  font-family: 'OpenSans';
  src: url('fontawesome/OpenSans.eot'); 
  src:url('fontawesome/OpenSans.otf') ;
  src:url('fontawesome/OpenSans.ttf') ;  */
  

}

.face{
  font-family: 'FiraSans';
}

.nb {
  border-radius: 20px;
  border-color: darkred;
  color: darkred;
}

.discover {
  background-image: url(../img/members1.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  padding-top: 30rem;
}

.professional {
  background-image: url(../img/pro.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  padding-top: 27rem;
}

/* .professional .opacity{
  background: rgba(0, 0, 0, 0.8); 
  width: 100%;
  position: absolute;
  top:0;
  height:100px;
  
}*/

.facebook{
  margin-top:7px;
}

.fb{
  float:left;
  
}
.fab{
  float:right;
  background-color: blue;
}

.bc a:hover{ 
  color:black;
  background-color: black;
}

#contact{
  background-image: url(../img/cont.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  padding-top: 3rem;
  padding-bottom:3rem;
}

textarea {
    width: 100%;
    height: 90px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.vl {
    border-left: 2px solid #ce3d42;
    height: 500px;
}